<div class="contact-wrapper">

	<div class="contact-inner">

	  	<div class="contact-logo" id="contact-logo">
            <a href="/" alt="logo"><%= image_tag("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/logo-big-no-border.jpg", :class => "img-responsive") %></a>
        </div>

		<div class="contact-paragraph visible-lg-block visible-md-block">
			<h2>CONTACT</h2>
			<h3>EMAIL:</h3>
            <p><a href="mailto:slav3unit@gmail.com?Subject=Incoming%20inquiry" target="_top">slav3unit@gmail.com</a></p>
            <h3>PHONE:</h3>
            <p>+1 (757) 969-8560</p>

			<h3>Follow me on:</h3>
			<a href="https://www.facebook.com/slaveunitapparel/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/fb+contact+2.png") %></a>
		    <a href="https://www.instagram.com/slave_unit_apparel_co/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/instagram+contact.png") %></a>
			<a href="http://slav3unit.bandcamp.com" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/bc+contact.png") %></a>
		</div>

<!-- MOBILE -->
		<div class="contact-paragraph-sm visible-sm-block visible-xs-block">
			<h2>CONTACT</h2>
			<h3>EMAIL:</h3>
		    <a href="mailto:slav3unit@gmail.com?Subject=Incoming%20inquiry" target="_top">slav3unit@gmail.com</a>
            <h3>PHONE:</h3>
            <p><a href="tel:+17579698560">+1 (757) 969-8560</a></p>
		    
			<h3>Follow me on:</h3>
			<a href="https://www.facebook.com/slaveunitapparel/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/fb+contact+2.png") %></a>
		    <a href="https://www.instagram.com/slave_unit_apparel_co/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/instagram+contact.png") %></a>
			<a href="http://slav3unit.bandcamp.com" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/bc+contact.png") %></a>
		</div>
<!-- END MOBILE -->

	</div><!-- end contact inner -->

</div><!-- end contact wrapper -->