<div class="contact-wrapper">

	<div class="contact-inner">

	  	<div class="contact-logo" id="contact-logo">
            <a href="/" alt="logo"><%= image_tag("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/logo-big-no-border.jpg", :class => "img-responsive") %></a>
        </div>

		<div class="contact-paragraph visible-lg-block visible-md-block">
			<h2>CONTACT</h2>
			<h3>EMAIL:</h3>
			
            <p>slav3unit@gmail.com</p>

			<h3>Follow me on:</h3>
			<a href="http://facebook.com/slav3unit" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/fb+contact.png") %></a>
			<a href="https://www.flickr.com/photos/gracinhamarco/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/flickr+contact.png") %></a>
			<a href="http://slav3unit.bandcamp.com" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/bc+contact.png") %></a>
		</div>

<!-- MOBILE -->
		<div class="contact-paragraph-sm visible-sm-block visible-xs-block">
			<h2>CONTACT</h2>
			<h3>EMAIL:</h3>
		    
		    <p>slav3unit@gmail.com</p>
		    
			<h3>Follow me on:</h3>
			<a href="http://facebook.com/slav3unit" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/fb+contact.png") %></a>
			<a href="https://www.flickr.com/photos/gracinhamarco/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/flickr+contact.png") %></a>
			<a href="http://slav3unit.bandcamp.com" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/bc+contact.png") %></a>
		</div>
<!-- END MOBILE -->

	</div><!-- end contact inner -->

</div><!-- end contact wrapper -->