

 
    <div class="col-sm-4">
      <h4><a href="/products/<%= product.id %>" target="_blank"><h2 class="product-name-index"><%= product.name %></h2></a></small></h4>
      <h4>The Small Price To Pay: <span style="color: green"><%= number_to_currency product.price %></span></h4>
      
      <a href="/products/<%= product.id %>" target="_blank">
        <%= image_tag(product.img_link, class: "img-responsive") %>
      </a>
    </div> 
  
 
  
