<!DOCTYPE html>
<html>
<head>
  <title>Slave Unit Apparel Co.</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  	<link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>

    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
  	<!-- To use Javascript from the internet -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  	<!-- To make responsive on smartphones -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- NAVBAR and FOOTER-->
  <!-- NAVBAR -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav">
          <div class="navhome" id="navhome">
              <a href="/" alt="logo" onClick="history.go(0)"><%= image_tag("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/logo-nav2.jpg") %></a>
          </div>
          <div class="container-fluid menu">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/products"><span class="glyphicon glyphicon-shopping-cart"></a></li>
                <li><a href="/static_pages/contact"><span class="glyphicon glyphicon-phone-alt"></a></li>
                <li><a href="/static_pages/about"><span class="glyphicon glyphicon-info-sign"></a></li>
                <li><a href="/static_pages/blog"><span class="glyphicon glyphicon-bullhorn"></a></li>
                <li>
                  
                  
                  <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHBwYJKoZIhvcNAQcEoIIG+DCCBvQCAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAA9Bay2jpPTRnnuHrzv15rIRUUsFS7zAKkxQ1ZWvPZhlxd7RCHoMaPU3ODbd8fiW67hxmcQ74DSqrc1YJ4zBwMZGAeEzWGsjgQ6mVMuDbNXtWUc1FYyZfc97Zz2PuLuMB+hdDqctsTU7+7cN6WYTr34bivJXhoSSrpC7AURFZ7N8xCzAJBgUrDgMCGgUAMFMGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI1XZ4nkVO5XeAMD9ufhLLUF7lqwltQYiHmztphk6xuY2MkVQ124sYykaFlGriZFzLBXApI5dLvors36CCA6UwggOhMIIDCqADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwNDE5MDcwMjU0WhcNMzUwNDE5MDcwMjU0WjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC3luO//Q3So3dOIEv7X4v8SOk7WN6o9okLV8OL5wLq3q1NtDnk53imhPzGNLM0flLjyId1mHQLsSp8TUw8JzZygmoJKkOrGY6s771BeyMdYCfHqxvp+gcemw+btaBDJSYOw3BNZPc4ZHf3wRGYHPNygvmjB/fMFKlE/Q2VNaic8wIDAQABo4H4MIH1MB0GA1UdDgQWBBSDLiLZqyqILWunkyzzUPHyd9Wp0jCBxQYDVR0jBIG9MIG6gBSDLiLZqyqILWunkyzzUPHyd9Wp0qGBnqSBmzCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAVzbzwNgZf4Zfb5Y/93B1fB+Jx/6uUb7RX0YE8llgpklDTr1b9lGRS5YVD46l3bKE+md4Z7ObDdpTbbYIat0qE6sElFFymg7cWMceZdaSqBtCoNZ0btL7+XyfVB8M+n6OlQs6tycYRRjjUiaNklPKVslDVvk8EGMaI/Q+krjxx0UxggGkMIIBoAIBATCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjExMTgwMDU1MjVaMCMGCSqGSIb3DQEJBDEWBBTN2k+pJBrRbQmECuzNi8t7hXenNDANBgkqhkiG9w0BAQEFAASBgIrN1K994Zd9O2d+vI+JxsBYmfKzOw6ji3rdS9epvOiB5hkIgzAvkRpmAYi4cndhlWStDRmogryqBQs4GreWoavDYtk2HEcksSNl0/QU5shhQmu1DgR/7ry9cZ8Oi6YJEIbpDKsEqabIuLl0w4JF98wRLg6ZixoPx4E9+hWuFIbY-----END PKCS7-----
">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
                  
                  
                </li>
              </ul>
            </div>
          </div><!-- end container-fluid menu --> 
  <!-- END NAVBAR -->













  <!-- FOOTER -->
          <footer class="visible-lg-block visible-md-block" id="footer-lg">
            <div class="fb-like" data-href="https://www.facebook.com/slav3unit" data-layout="button" data-action="like" data-show-faces="true" data-share="true">
            </div><!-- end fb-like -->
            <div class="socialfooter">
              <a href="https://www.facebook.com/slaveunitapparel/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/fb+foot.png") %></a>
              <a href="https://instagram.com/slave_unit" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/instagram-logo-sm.png") %></a>
              <a href="https://slav3unit.bandcamp.com/releases" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/bc+foot.png") %></a>
              
            </div><!-- end socialfooter -->
            <div class="footerlogo">
              <div class="footerlogoinside">
                <p>&copy SLAVE UNIT APPAREL 2015</p>
              </div>
            </div><!-- end footerlogo -->
          </footer>
    <!-- mobile footer -->
          <footer class="visible-sm-block visible-xs-block" id="footer-sm">
            <div class="fb-like-sm">
              <div class="fb-like" data-href="https://www.facebook.com/slav3unit" data-layout="button" data-action="like" data-show-faces="true" data-share="true">
              </div>
            </div><!-- end fb-like-sm -->
            <div class="socialfooter-sm">
              <a href="https://www.facebook.com/slaveunitapparel/" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/fb+foot.png") %></a>
              <a href="https://instagram.com/slave_unit" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/instagram-logo-sm.png") %></a>
              <a href="https://slav3unit.bandcamp.com/releases" target="_blank"><%= image_tag ("https://s3.amazonaws.com/slaveunitapparel5/Website+Images/bc+foot.png") %></a>
            </div><!-- end socialfooter-sm -->
            <div class="footerlogo-sm">
              <div class="footerlogoinside">
                <p>&copy SLAVE UNIT APPAREL 2015</p>
              </div><!-- end footerlogoinside -->
            </div><!-- end footerlogo-sm -->
    <!-- mobile footer -->
          </footer><!-- end footer visible-sm -->
  <!-- END FOOTER -->
        
      </nav>
  <!-- END NAVBAR and FOOTER-->
     



    <%= yield %>


</body>
</html>